/* Sidebar Mentee */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 40px;
gap: 8px;

position: absolute;
width: 274px;
height: 1866px;
left: 0px;
top: 0px;

/* Neutrals/Light 1.1

Neutrals
*/
background: #FBFBFB;


/* Frame 2608860 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 64px;

width: 194px;
height: 253px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logo */

width: 174px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 11814 */

position: absolute;
width: 134px;
height: 14px;
left: 37.73px;
top: 9.61px;



/* Group 11811 */

position: absolute;
width: 49.23px;
height: 14px;
left: 122.5px;
top: 9.61px;



/* Vector */

position: absolute;
width: 10.97px;
height: 14px;
left: 122.5px;
top: 9.61px;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Vector */

position: absolute;
width: 9.18px;
height: 12.92px;
left: 162.55px;
top: 10.7px;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Vector */

position: absolute;
width: 9.08px;
height: 13.7px;
left: 154.12px;
top: 9.61px;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Vector */

position: absolute;
width: 10.33px;
height: 13.41px;
left: 135.14px;
top: 9.91px;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Vector */

position: absolute;
width: 6.15px;
height: 9.76px;
left: 146.64px;
top: 13.84px;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Vector */

position: absolute;
width: 3.67px;
height: 2.62px;
left: 150.12px;
top: 10.49px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* Group 11810 */

position: absolute;
width: 81.66px;
height: 13.7px;
left: 37.73px;
top: 9.9px;



/* Vector */

position: absolute;
width: 10.33px;
height: 9.76px;
left: 109.06px;
top: 13.54px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* Vector */

position: absolute;
width: 7.73px;
height: 9.76px;
left: 100.06px;
top: 13.54px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* Vector */

position: absolute;
width: 10.94px;
height: 10.06px;
left: 87.44px;
top: 13.54px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* Vector */

position: absolute;
width: 9.18px;
height: 12.92px;
left: 77.39px;
top: 10.69px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* Vector */

position: absolute;
width: 10.33px;
height: 9.76px;
left: 65.88px;
top: 13.54px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* Vector */

position: absolute;
width: 10.94px;
height: 10.06px;
left: 53.25px;
top: 13.54px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* Vector */

position: absolute;
width: 13.83px;
height: 13.41px;
left: 37.73px;
top: 9.9px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* Group 11815 */

position: absolute;
width: 32px;
height: 26px;
left: 0px;
top: 1px;



/* M */

position: absolute;
width: 14.31px;
height: 12.67px;
left: 8.87px;
top: 10.57px;

/* Primary/Primary (neutral) */
background: #E57A17;


/* { */

position: absolute;
width: 7.76px;
height: 20.01px;
left: 0px;
top: 6.99px;

/* Neutrals/Dark 2 */
background: #1F2937;


/* _ */

position: absolute;
width: 14.31px;
height: 2.52px;
left: 8.87px;
top: 24.48px;

/* Neutrals/Dark 2 */
background: #1F2937;


/* } */

position: absolute;
width: 7.76px;
height: 20.01px;
left: 24.24px;
top: 6.99px;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Group 11775 */

position: absolute;
width: 5.75px;
height: 8.32px;
left: 11.27px;
top: 1px;



/* Union */

position: absolute;
width: 5.75px;
height: 8.32px;
left: 11.27px;
top: 1px;

/* Primary/Primary (neutral) */
background: #E57A17;
/* Primary/Primary (neutral) */
border: 0.5px solid #E57A17;


/* Group 11774 */

position: absolute;
width: 4.69px;
height: 7.19px;
left: 16.04px;
top: 2.13px;



/* Union */

position: absolute;
width: 4.69px;
height: 7.19px;
left: 16.04px;
top: 2.13px;

/* Neutrals/Dark 2 */
background: #1F2937;
/* Neutrals/Dark 2 */
border: 0.5px solid #1F2937;


/* Frame 2608859 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 194px;
height: 161px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Sidebar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 194px;
height: 43px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 11784 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15px;

width: 91px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* account_24px */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #DADADA;


/* Path */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 20.83%;
bottom: 54.17%;

background: #DADADA;


/* Path */

position: absolute;
left: 25%;
right: 25%;
top: 53.75%;
bottom: 20%;

background: #DADADA;


/* Nav */

width: 52px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Profile */

position: absolute;
left: 42.86%;
right: 0%;
top: 0%;
bottom: 0%;

/* B1 Semibold

body text (semi bold)
*/
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

/* Neutrals/Dark 2 */
color: #1F2937;



/* Sidebar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 194px;
height: 43px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 11787 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 14px;

width: 136px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* supervised_user_circle_24px */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Path */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: #DADADA;


/* Path */

position: absolute;
left: 57%;
right: 26.92%;
top: 34.75%;
bottom: 49.17%;

background: #DADADA;


/* Path */

position: absolute;
left: 30.21%;
right: 50.13%;
top: 28.17%;
bottom: 52.17%;

background: #DADADA;


/* Path */

position: absolute;
left: 18.62%;
right: 52.05%;
top: 54.13%;
bottom: 18.17%;

background: #DADADA;


/* Path */

position: absolute;
left: 46.71%;
right: 18.95%;
top: 57.33%;
bottom: 16.67%;

background: #DADADA;


/* Nav */

width: 98px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* My Mentors */

position: absolute;
left: 27.94%;
right: 0%;
top: 0%;
bottom: 0%;

/* B1 Semibold

body text (semi bold)
*/
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

/* Neutrals/Dark 2 */
color: #1F2937;



/* Sidebar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 194px;
height: 43px;

border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 11790 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 14px;

width: 103px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* dashboard_24px */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Neutrals/Dark 2 */
background: #1F2937;


/* Path */

position: absolute;
left: 12.5%;
right: 54.17%;
top: 12.5%;
bottom: 45.83%;

background: #DADADA;


/* Path */

position: absolute;
left: 12.5%;
right: 54.17%;
top: 62.5%;
bottom: 12.5%;

background: #DADADA;


/* Path */

position: absolute;
left: 54.17%;
right: 12.5%;
top: 45.83%;
bottom: 12.5%;

background: #DADADA;


/* Path */

position: absolute;
left: 54.17%;
right: 12.5%;
top: 12.5%;
bottom: 62.5%;

background: #DADADA;


/* Nav */

width: 65px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Projects */

position: absolute;
left: 36.89%;
right: 0%;
top: 0%;
bottom: 0%;

/* B1 Semibold

body text (semi bold)
*/
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

/* Neutrals/Dark 2 */
color: #1F2937;
